html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  margin: 10px;
  min-height: 400px;
}

button {
  width: 100%;
  height: 43px;
  padding: 10px 50px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

button.primary {
  background-color: black;
  color: white;
}

button.primary:hover {
  background-color: white;
  color: black;
}

button.secondary {
  background-color: white;
  color: black;
}

button.secondary:hover {
  background-color: rgb(211, 209, 209);
}

.hero {
  background-color: #ff002e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.hero .buttons {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
}

p {
  font-size: clamp(48px, 5vw, 64px);
  font-weight: 400;
  color: black;
}

.hero p {
  width: 190px;
  text-align: center;
  margin-top: 30px;
}

.c {
  background-color: #00ff94;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.b .b1,
.b .b4 {
  grid-column: 1 / -1;
}

.b .b2,
.b .b3 {
  grid-row: 2 / 3;
}

.b > * {
  background-color: #ffd600;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d {
  background-color: #0fd4ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
